body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: #1F2937;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:18px;
  padding-left: 60px;
}

.hero{
  display: flex;
  font-size: 48px;
  font-weight: extra-bold;
  background-color: #1F2937;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
}

#logo{
  width: 30%;
  height: auto;
  object-fit: contain;
}

ul{
  list-style: none;
  list-style-type: none;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

li{
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  display: flex;
}

.footer {
  height: 72px;
  background: #eee;
  color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 32px; 
  margin: 32px;
  width: 250px;
  background-color: blue;
  color: black;
  font-size: 24px;
}



a{
  text-decoration: none;
  color: gray;
}


.cardholder{
  display: flex;
  flex-wrap: wrap;
  order:1;
  justify-content: space-between;
}

#cardheader{
  font-size: 32px;
  color:blue;
  font-weight: 400;
  justify-content: center;
  display: flex;
}

.body{
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
  flex:1;
}

.quote{
  display: flex;
  background-color: #e5e7eb;
  font-size: 60px;
  font-style: italic;
  font-weight: 900;
  order:2;
  flex:1;
  padding: 36px;
  padding-left: 36px;
  padding-right: 36px;
  justify-content: center;
  margin-top: 36px;
  margin-bottom: 36px;
  color: green;
  flex-direction: column;
  align-items: center;
}

#name{
  font-size: 44px;
  font-weight: 900;
  color: black;
  display: flex;
  order: 3;
  justify-content: center;
  align-items: center;
}

.musicbutton{
  background: blue;
  border: 8px solid orange;
  color: white;
  order: 3;
  justify-content: center;
  display: flex;
  gap:36px;
  align-items: center;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}


.continue {
  background: green;
  border: 8px solid black;
  color: white;
  order: 3;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}